@model IEnumerable<TesteMR.Models.Unidade>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.cCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cDescription)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.cCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cDescription)
            </td>
        </tr>
}
    </tbody>
</table>
